# Исключить директорию node_modules
node_modules/

# Исключить директорию dist
dist/

# Исключить файлы .env
*.env

# Исключить файлы логов
*.log

# Исключить временные файлы
*.tmp

# Исключить директорию с кэшем
.cache/

# Исключить файлы с расширением .pyc
*.pyc

# Исключить директорию __pycache__
__pycache__/

# Исключить директорию .vscode
.vscode/

# Исключить директорию .git
.git/
