.container {
    padding: 20px;
    min-width: 600px;
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .subtitleList {
    max-height: 400px; /* Фиксированная высота списка субтитров */
    overflow-y: auto; /* Прокрутка */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }
  
  .subtitleItem {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .subtitleItem .inputGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .subtitleItem .inputGroup input {
    width: 100px;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .subtitleItem .inputGroup input.speaker {
    width: 50px;
  }
  
  .subtitleItem textarea {
    width: 90%;
    min-height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    resize: vertical; 
  }
  
  .uploadButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .uploadButton:hover {
    background-color: #0056b3;
  }

  .speaker_div {
    text-align: start;
    font-size: small;
  }


  .sub_id_div {
    display: flex;
    align-self: start;
    color: #424242;
    margin: 0px 10px 10px 0px;
  }
  .start_end_time_div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .start_end_time_div div {
    margin-bottom: 10px;
  }
  
  .start_end_time_div input {
    width: 80px;
    margin: 0 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .errorBorder {
    background-color: #ff2c4f;
  }

  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }