.task_item {
  padding: 15px;
  list-style: none;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  border:  1px solid transparent;
  max-width: 600px;
}


.task_content {
  flex-grow: 1;
}

.task_title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.task_date {
  font-size: 14px;
  color: #666;
}

.delete_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.delete_icon {
  width: 18px;
  height: 18px;
  fill: none;
  stroke: #2d2d2d;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s;
}

.delete_button:hover .delete_icon {
  stroke: #ff0000;
}
