.login_body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.login_title {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #555;
}